Repository peteywee/scheduler-fresh: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix"
  ],
  "scripts/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix"
  ],
  "*.{json,css,scss,md,yml,yaml}": [
    "prettier --write"
  ]
}

ci: add GitHub Actions CI and Dependabot config
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: prettier --write

Implement code changes to enhance functionality and improve performance
  .deepsource.toml
  pnpm-lock.yaml
Due: prettier --write

Replace scheduler.code-workspace with scheduler-fresh.code-workspace, removing unnecessary settings.
  scheduler-fresh.code-workspace
  scheduler.code-workspace
Due: none

WIP: backup current changes before switching to known-good
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  docs/DEVELOPMENT.md
  jest.config.ts
  jest.setup.ts
  next-env.d.ts
  next.config.js
  package.json
  scripts/README-apply-vscode-user-settings.md
  scripts/apply-vscode-user-settings.js
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove duplicate root tailwind.config.ts (use nested project config)
  .vscode/settings.json
Due: prettier --write

chore(ci): block pushes unless verify is green
  lefthook.yml
Due: prettier --write

Update .husky/pre-commit
  .husky/pre-commit
Due: none

Update scripts/profilerhelper
  scripts/profilerhelper
Due: none

feat(mcp): add initial MCP setup configuration for GitHub server
  .mcp/mcp.setup.json
Due: prettier --write

press
  .gitignore
Due: none

chore: ignore pnpm store and pnpm caches
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: remove pnpm caches from repo
  migration/WT-305-MIGRATION.json
Due: prettier --write

fool
  .gitignore
Due: none

fix: correct .gitignore entry for pnpm store filtering
  .gitignore
Due: none
